*{
    margin:0;
    padding:0;
}

:root {

    font-family: "Alice", serif;
    line-height: 150%;
    color: #573A37;
}

body {
    background-image: url(assets/bg.jpg);
    background-size: cover;
}

main{
    padding:24px;
}

h1 {
    font-size: 40px;
    line-height: 140%;
  
}

h2 {
    font-size: 24px;
}

h1,
h2 {
    color: #291B1A;
    margin-bottom:4px;
}

#page {
    width: 800px;
    padding: 24px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: 48px auto;
    box-sizing: border-box;
}
#descricao p + p {
    margin-top: 12px;
}

section + section{
    margin-top:24px;
}
ul{
    padding-left: 24px;
}